#app {
  width:100vw;
  height:100vh;
  margin:0;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.items_comp{
  display: none;
}
.checkout_comp{
  position: fixed;
  top: 20px;
  right: 50px;
  flex-direction: column;
}