.shopping_cart {
  display:inline-flex;
  border: 2px black solid;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
}

.shopping_cart:hover {
  cursor: pointer;
}

.material-icons {
  padding: 10px;
}

.itemcounter {
  padding: 13px 5px 0px 5px;
  margin: 0em;
  border-left: solid 1px grey;
  align-self: stretch;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.button1 {
  padding: 4px;
  border-radius: 3px;
  margin-top: 7px;
}

#checkout_msg {
  font-weight: bold;
  font-size: large;
}

.checkout_comp {
  display: none;
}